<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="#">MPDAM Projects</a>


 
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle  type="button" class="nav-link dropdown-toggle" >
       Projets<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Afficher tous les projets</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/gestionEquipes">Créer un projet</a>
        
        </div>
      </li>
   
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle  type="button" class="nav-link dropdown-toggle " >
         Personnes<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect  routerLink="/gestionProjets" >Afficher tous les équipes</a>
          <a class="dropdown-item waves-light" mdbWavesEffect >Créer une équipe</a>
       
        </div>
      </li>
    </ul>
    <div class="spacer"></div>
    <app-search-input></app-search-input>
    <div class="spacer2"></div>
      <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link">
          <i id="notification-icon" class="bi bi-bell" ></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i id="help-icon" class="bi bi-question-circle-fill"></i>
        </a>
      </li>
    
    </ul>
   
 
</nav>