.mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
 .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}
 #close-icon{
    margin-left: 320px;
    order: 2;
    font-weight: bolder;
}
 #close-icon:hover{
cursor: pointer;
}

 #no-button{
margin-left: 10%;
margin-right: 15%;
height: 30px;
width: 30%;
margin-top: 20px;
background-color: red;
color:white;
border-radius: 0px;
border-color: red;
}

 #yes-button{
    margin-left: 15%;
    margin-top: 20px;
    height: 30px;
    width: 30%;
    background-color:green;
    border-color: green;
    color:white;
    border-radius: 0px;
}

p{
   
    text-align: center;
    font-size: 17px;
}