
<app-header></app-header>
<app-menu></app-menu>
<div id="contenu">
<div id="backlog">
    <h3 id="title">Sprint backlog</h3>
    <div cdkDropList id="sprint-Backlog" class="example-list" [cdkDropListData]="sprintBacklog"  [cdkDropListConnectedTo]="['backlogProject']" (cdkDropListDropped)="drop($event)" >
        <div class="example-box" *ngFor="let u of sprintBacklog" cdkDrag>{{u}}</div>
      </div>
      

</div>
<div id="backlog">
    <h3 id="title">Product backlog</h3>
    <div cdkDropList id="backlogProject" class="example-list" [cdkDropListData]="userstories" [cdkDropListConnectedTo]="['sprint-Backlog']" (cdkDropListDropped)="drop($event)" >
        <div class="example-box" *ngFor="let UserStory of userstories" cdkDrag>{{UserStory.userStory}}</div>
      </div>

      <div class="button-box">
        <button id="button">
        <i class="bi bi-plus-lg"></i>
        <span>Tache</span>
        </button>
     </div>
</div>
</div>
