<html>
    <body>
      
        <div id="contenu">
          <p>Projets/tableau kanban</p><br>
          <h3>Tablau kanban</h3><br>
          <form>
            <label for="list-select">Regrouper par :</label>
            <select name="list" id="list-select">
            <option value="">Aucune</option>
            </select>
          </form>
        </div>
        <div class="tab">
        <div id="div-1">
          <p id="titre">A faire</p>
        </div>
        <div id="div-2">
          <p id="titre">En cours</p>
        </div>
        <div id="div-3">
          <p id="titre">Fini</p>
        </div>
      
        </div>

        
      
    

    </body>


</html>